nav {
  align-items: center;
  position: absolute;
  padding: 0 1.5rem;
  display: flex;
  height: 5rem;
  z-index: 2;
  right: 0;
  left: 0;
  top: 0;

  #logo {
    transition: 500ms;
    width: 6rem;

    img {
      filter: drop-shadow(0 0 0.25rem #fff);
      width: 100%;
    }

    @media(max-width: 600px) {
      width: 5rem;
    }
  }

  #page-controls {
    transition: 300ms ease-in-out;
    position: fixed;
    right: 1.5rem;
    top: 1.5rem;

    #page-controls-wrapper {
      grid-template-columns: repeat(6, 1fr);
      position: relative;
      column-gap: 0.5rem;
      display: grid;

      .page-control {
        cursor: pointer;
        height: 2rem;
        width: 2rem;

        svg {
          height: 100%;
          width: 100%;

          circle {
            stroke-width: var(--line-bold);
            r: calc(50% - var(--line-bold));
            stroke-dasharray: 255;
            stroke-linecap: round;
            --line-bold: 0.18rem;
            stroke: #fff4;
            fill: none;
            cy: 50%;
            cx: 50%;
          }

          .control-svg {
            transition: 1s ease-in-out;
            stroke: #fff !important;
            stroke-dashoffset: 255;

            &.active {
              stroke-dashoffset: 0;
            }
          }
        }
      }
    }

    #page-dot {
      transition: 350ms ease-in-out;
      transform: translateY(50%);
      background-color: #fff;
      border-radius: 0.2rem;
      position: absolute;
      bottom: 50%;
      height: 6px;
      width: 6px;
      left: 13px;
    }

    @media (max-width: 450px) {
      transform: rotate(90deg);
      position: fixed;
      right: -5.75rem;
      top: 7rem;
      z-index: 1;
    }
  }
}
